﻿
@{
    ViewBag.Title = "UserRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="UserModuleMapping_ngController">
    <div class="box box-warning">
        <div class="box-header with-border col-lg-12">
            <h3 class="box-title">Maintain User Roles Mappings</h3>
            <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#myModal" ng-click="OpenEmptymodel()" aria-hidden="true">Add New User Mapping</button>
        </div>
        <div class="box-body" style="height:560px !important">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body no-padding">
                            <table class="table table-striped table-hover CustomTable" st-table="UserModuleMappinglist" st-safe-src="UserModuleMappinglistRowCollection" style="height:500px !important">
                                <thead>
                                    <tr>
                                        <th st-sort="LoginId">Login Id</th>
                                        <th st-sort="ModuleName">Module Name</th>
                                        <th st-sort="Permissions">Permissions</th>
                                        <th>Actions</th>
                                    </tr>
                                    <tr>
                                        <th class="paddinLeftNone"><input autocomplete="off" class="form-control" style="width:90% !important;" st-search="LoginId" placeholder="Login Id" /></th>
                                        <th class="paddinLeftNone"><input autocomplete="off" class="form-control" style="width:90% !important;" st-search="ModuleName" placeholder="Module Name" /></th>
                                        <th class="paddinLeftNone"><input autocomplete="off" class="form-control" style="width:90% !important;" st-search="Permissions" placeholder="Permissions" /></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="item in UserModuleMappinglist">
                                        <td><span ng-bind="item.LoginId"></span></td>
                                        <td><span ng-bind="item.ModuleName"></span></td>
                                        <td><span ng-bind="item.Permissions"></span></td>
                                        <td>
                                            <button class="btn btn-warning btn-sm" data-toggle="modal" data-backdrop="static" data-keyboard="false" ng-click="Openmodel(item)" data-target="#myModal">Edit</button>
                                            <button class="btn btn-danger btn-sm" ng-click="confirmdelete(item)">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td ng-if="UserModuleMappinglist.length>0"><button class="btn btn-sm btn-info" ng-click="exportData()">Export To Excel</button></td>
                                        <td colspan="5" class="text-center">
                                            <div st-items-by-page="30" st-pagination="" st-template="~/CustTemplates/Pagination.html"></div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" data-dismiss="modal" />
                    <h4 class="modal-title" id="myModalLabel">User Module Access</h4>
                </div>
                <form name="UserModuleForm">
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label>Login Name</label>
                                <img src="~/Content/img/reqIcon.png" />
                                @*<input  autocomplete="off" type="text" autocomplete="off" ng-model="UserModuleMappingInfo.LoginId" class="form-control maxwidth" placeholder="Login Name...">*@
                                <select ng-required="true" class="form-control maxwidth" ng-model="UserModuleMappingInfo.LoginId">
                                    <option data-ng-repeat="LoginId in LoginIds" value="{{LoginId}}">{{LoginId}}</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-12">
                                <label>Module</label>
                                <img src="~/Content/img/reqIcon.png" />
                                <select ng-required="true" class="form-control" ng-model="UserModuleMappingInfo.ModuleName">
                                    <option selected>Job Order</option>
                                    <option>Operations</option>
                                    <option>Maintenance</option>
                                    <option>Administration</option>
                                    <option>Accounts</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Access Rights</label>
                                <img src="~/Content/img/reqIcon.png" />
                                <select ng-required="true" class="form-control" ng-model="UserModuleMappingInfo.Permissions">
                                    <option selected>Read</option>
                                    <option>Read/Write</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button ng-disabled="!UserModuleForm.$valid" type="button" class="btn btn-warning" ng-click="save()">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal -->

    <div class="modal fade" id="modalDeleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Message</h5>
                </div>
                <div class="modal-body">
                    {{DeleteConfirmMsg}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="DeleteYes()">Yes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

