﻿
@{
    ViewBag.Title = "UserMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="UserMaster_ngController">
    <div class="box box-warning">
        <div class="box-header with-border col-lg-12">
            <h3 class="box-title">Manage Employee Master</h3>
            <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#myModal" ng-click="OpenEmptypopupModel()" aria-hidden="true">Add New User</button>
        </div>
        <div class="box-body" style="height:560px !important">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body no-padding">
                            <table class="table table-striped table-hover CustomTable" st-table="Userlist" st-safe-src="UserlistRowCollection" style="height:500px !important">
                                <thead>
                                    <tr>
                                        <th st-sort="FirstName">First Name</th>
                                        <th st-sort="LastName">Last Name</th>
                                        <th st-sort="LoginId">
                                            Login User Name
                                        </th>
                                        <th st-sort="CompanyCode">Company Code</th>
                                        <th st-sort="Salary">Monthly Gross Salary</th>
                                        <th st-sort="AppointmentDate">Appointment Date</th>
                                        <th>Actions</th>
                                    </tr>
                                    <tr>
                                        <th class="paddinLeftNone"><input autocomplete="off" class="form-control" style="width:90% !important;" st-search="FirstName" placeholder="FirstName" /></th>
                                        <th class="paddinLeftNone"><input autocomplete="off" class="form-control" style="width:90% !important;" st-search="LastName" placeholder="LastName" /></th>
                                        <th class="paddinLeftNone"><input autocomplete="off" class="form-control" style="width:90% !important;" st-search="LoginId" placeholder="LoginId" /></th>
                                        <th class="paddinLeftNone"><input autocomplete="off" class="form-control" style="width:90% !important;" st-search="CompanyCode" placeholder="CompanyCode" /></th>
                                        <th class="paddinLeftNone"><input autocomplete="off" class="form-control" style="width:90% !important;" st-search="Salary" placeholder="Salary" /></th>
                                        <th class="paddinLeftNone"><input autocomplete="off" class="form-control" style="width:90% !important;" st-search="AppointmentDate" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" placeholder="Appointment Date" /></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="item in Userlist">
                                        <td><span ng-bind="item.FirstName"></span></td>
                                        <td><span ng-bind="item.LastName"></span></td>
                                        <td><span ng-bind="item.LoginId"></span></td>
                                        <td><span ng-bind="item.CompanyCode"></span></td>
                                        <td><span ng-bind="item.Salary"></span></td>
                                        <td><span ng-bind="item.AppointmentDate"></span></td>
                                        <td>
                                            <button class="btn btn-sm btn-warning" ng-click="OpenModel(item)" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#myModal">Edit</button>
                                            <button class="btn btn-sm btn-danger" ng-click="confirmdelete(item)">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <div st-items-by-page="30" st-pagination="" st-template="~/CustTemplates/Pagination.html"></div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog ">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Employee Master Information</h4>
                    </div>
                    <form name="Usermasterform" ng-submit="save()">
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label>First Name</label>
                                    <img src="~/Content/img/reqIcon.png" />
                                    <input autocomplete="off" ng-maxlength="45" autocomplete="off" ng-required="true" data-ng-model="UseMasterInfo.FirstName" type="text" name="txtFirstName" class="form-control" placeholder="First Name ...">
                                    <span style="color:red" ng-show="Usermasterform.txtFirstName.$error.maxlength">
                                        Only 45 characters allowed !!
                                    </span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Last Name</label>
                                    <img src="~/Content/img/reqIcon.png" />
                                    <input autocomplete="off" ng-maxlength="45" autocomplete="off" ng-required="true" data-ng-model="UseMasterInfo.LastName" type="text" name="txtLastName" class="form-control" placeholder="Last Name ...">
                                    <span style="color:red" ng-show="Usermasterform.txtLastName.$error.maxlength">
                                        Only 45 characters allowed !!
                                    </span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>
                                        Login User Name
                                    </label>
                                    <img src="~/Content/img/reqIcon.png" />
                                    <input autocomplete="off" ng-maxlength="45" autocomplete="off" ng-required="true" name="loginid" data-ng-model="UseMasterInfo.LoginId" type="text" class="form-control" placeholder="Login ID ...">
                                    <span style="color:red" ng-show="Usermasterform.loginid.$error.maxlength">
                                        Only 45 characters allowed !!
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label>Company Code</label>
                                    <img src="~/Content/img/reqIcon.png" />
                                    <input autocomplete="off" ng-maxlength="45" autocomplete="off" ng-required="true" name="companycode" data-ng-model="UseMasterInfo.CompanyCode" type="text" ng-disabled="true" class="form-control" placeholder="Company Code ...">
                                    <span style="color:red" ng-show="Usermasterform.companycode.$error.maxlength">
                                        Only 45 characters allowed !!
                                    </span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Position</label>
                                    <img src="~/Content/img/reqIcon.png" />
                                    <input autocomplete="off" ng-maxlength="45" autocomplete="off" ng-required="true" data-ng-model="UseMasterInfo.Position" type="text" name="txtPosition" class="form-control" placeholder="Position ...">
                                    <span style="color:red" ng-show="Usermasterform.txtPosition.$error.maxlength">
                                        Only 45 characters allowed !!
                                    </span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Appointment Date</label>
                                    <img src="~/Content/img/reqIcon.png" />
                                    <input autocomplete="off" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" autocomplete="off" ng-required="true" data-ng-model="UseMasterInfo.AppointmentDate" placeholder="Appointment Date" type="text" name="textappointmentdate" id="dtAppointmentDate" class="form-control">

                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label>Monthly Gross Salary</label>
                                    <img src="~/Content/img/reqIcon.png" />
                                    <input autocomplete="off" ng-maxlength="25" autocomplete="off" ng-required="true" data-ng-model="UseMasterInfo.Salary" type="number" name="txtSalary" class="form-control" placeholder="Salary ...">
                                    <span style="color:red" ng-show="Usermasterform.txtSalary.$error.maxlength">
                                        Only 25 characters allowed !!
                                    </span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Monthly Salary Date</label>
                                    <img src="~/Content/img/reqIcon.png" />
                                    <select ng-required="true" class="form-control" data-ng-model="UseMasterInfo.MonthlySalaryDueDate" ng-options="item for item in MonthlySalaryDueDateArray"></select>

                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Department</label>
                                    <select ng-required="true" data-ng-model="UseMasterInfo.Department" class="form-control" name="drpDepartment">
                                        <option>Regular</option>
                                        <option>Driver</option>
                                        <option>Maintenance</option>
                                    </select>
                                    <span style="color:red" ng-show="Usermasterform.drpDepartment.$error.maxlength">
                                        Only 25 characters allowed !!
                                    </span>
                                </div>
                            </div>

                            <div class="row" ng-show="UseMasterInfo.Department=='Driver'">

                                <div class="form-group col-lg-5">
                                    <label>Driving License Validity</label>
                                    <img src="~/Content/img/reqIcon.png" />
                                    <input autocomplete="off" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" autocomplete="off" ng-required="true" data-ng-model="UseMasterInfo.DrivingLicenseValidity" placeholder="Driving License Validity Date " type="text" name="txtDrivingLicenseValidity" id="txtDrivingLicenseValidity" class="form-control">
                                </div>

                                <div class="form-group col-lg-5">
                                    <label>Driving License No</label>
                                    <img src="~/Content/img/reqIcon.png" />
                                    <input autocomplete="off" ng-maxlength="25" autocomplete="off" ng-required="true" data-ng-model="UseMasterInfo.DrivingLicenseNo" type="text" name="dtDrivingLicenseValidityno" class="form-control" placeholder="Driving License No ...">
                                    <span style="color:red" ng-show="Usermasterform.dtDrivingLicenseValidityno.$error.maxlength">
                                        Only 25 characters allowed !!
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label>Password (Min 6 Letters)</label>
                                    <img src="~/Content/img/reqIcon.png" />
                                    <input autocomplete="off" ng-maxlength="10" ng-required="true" data-ng-model="UseMasterInfo.Password" type="text" name="txtPwd" ng-minlength="6" class="form-control" placeholder="Password atleast 6 character ...">
                                    <span style="color:red" ng-show="Usermasterform.txtPwd.$error.maxlength">
                                        Only 10 characters allowed !!
                                    </span>
                                </div>
                            </div>                            @*<div class="row">
                                    <div class="form-group col-lg-12">
                                        <h4>Supporting Documents</h4>
                                    </div>
                                </div>

                                <div class="row">
                                  <div class="form-group col-lg-4 " ng-if="UseMasterInfo.Department=='Driver'">
                                        <label>Driving License</label>
                                        <div ng-if="EditModeEnable">
                                            <input  autocomplete="off" ng-maxlength="100" autocomplete="off" type="file" name="file" accept="image/*" onchange="angular.element(this).scope().selectFileforUploaddrivinglicence(this.files)" />
                                        </div>
                                        <div ng-if="!EditModeEnable">
                                            <input  autocomplete="off" ng-maxlength="100" autocomplete="off"  type="file" name="file" accept="image/*" onchange="angular.element(this).scope().selectFileforUploaddrivinglicence(this.files)" />
                                        </div>

                                        <span ng-if="EditModeEnable"><a href="{{UseMasterInfo.DrivingLicenseFilepath}}" download>{{DrivingLicense}}</a></span>
                                      <span style="color:red" ng-show="Usermasterform.file.$error.maxlength">
                                          Only 100 characters allowed !!
                                      </span>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label>PAN Card</label>
                                        <div ng-if="EditModeEnable">
                                            <input  autocomplete="off" ng-maxlength="100" autocomplete="off" data-ng-model="UseMasterInfo.PANCardFilepath" type="file" name="filePanCard" accept="image/*" onchange="angular.element(this).scope().selectFileforUploadpancard(this.files)">
                                        </div>
                                        <div ng-if="!EditModeEnable">
                                            <input  autocomplete="off" ng-maxlength="100" autocomplete="off"  data-ng-model="UseMasterInfo.PANCardFilepath" type="file" name="filePanCard" accept="image/*" onchange="angular.element(this).scope().selectFileforUploadpancard(this.files)">
                                        </div>
                                        <span ng-if="EditModeEnable"><a href="{{UseMasterInfo.PANCardFilepath}}" download>{{PANCard}}</a></span>
                                        <span style="color:red" ng-show="Usermasterform.filePanCard.$error.maxlength">
                                            Only 100 characters allowed !!
                                        </span>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label>Address Proof</label>
                                        <div ng-if="EditModeEnable">
                                            <input  autocomplete="off" ng-maxlength="100" autocomplete="off" data-ng-model="UseMasterInfo.AddressProofFilepath" type="file" name="fileAddressProof" accept="image/*" onchange="angular.element(this).scope().selectFileforUploaddaddress(this.files)">
                                        </div>
                                        <div ng-if="!EditModeEnable">
                                            <input  autocomplete="off" ng-maxlength="100" autocomplete="off"  data-ng-model="UseMasterInfo.AddressProofFilepath" type="file" name="fileAddressProof" accept="image/*" onchange="angular.element(this).scope().selectFileforUploaddaddress(this.files)">
                                        </div>
                                        <span ng-if="EditModeEnable"><a href="{{UseMasterInfo.AddressProofFilepath}}" download>{{AddressProof}}</a></span>
                                        <span style="color:red" ng-show="Usermasterform.fileAddressProof.$error.maxlength">
                                            Only 100 characters allowed !!
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-4">
                                        <label>Customer  ID Proof</label>
                                        <div ng-if="EditModeEnable">
                                            <input  autocomplete="off" ng-maxlength="100" autocomplete="off" data-ng-model="UseMasterInfo.CustomsIDFilePath" type="file" name="fileCustomID" accept="image/*" onchange="angular.element(this).scope().selectFileforUploadcustomerid(this.files)">
                                        </div>
                                        <div ng-if="!EditModeEnable">
                                            <input  autocomplete="off" ng-maxlength="100" autocomplete="off"  data-ng-model="UseMasterInfo.CustomsIDFilePath" type="file" name="fileCustomID" accept="image/*" onchange="angular.element(this).scope().selectFileforUploadcustomerid(this.files)">
                                        </div>
                                        <span ng-if="EditModeEnable"><a href="{{UseMasterInfo.CustomsIDFilePath}}" download>{{CustomsID}}</a></span>
                                        <span style="color:red" ng-show="Usermasterform.fileCustomID.$error.maxlength">
                                            Only 100 characters allowed !!
                                        </span>
                                    </div>
                                </div>*@

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            <button type="submit" ng-disabled="!Usermasterform.$valid" class="btn btn-warning">Save Changes</button>

                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>

    <div class="modal fade" id="modalDeleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Message</h5>
                </div>
                <div class="modal-body">
                    {{DeleteConfirmMsg}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="DeleteYes()">Yes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>


