﻿

/*StartTag - DashbardSideActionMenu ------------------------------------------- */
.dashboardActionSideMenu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position:fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color:#565858;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.dashboardActionSideMenu span {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.dashboardActionSideMenu span:hover, .offcanvas span:focus{
    color: orange;
    /*background-color:orange;*/
}

/* Position and style the close button (top right corner) */
.dashboardActionSideMenu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/*#main {
    transition: margin-left .5s;
    padding: 20px;
}*/

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .dashboardActionSideMenu {padding-top: 15px;}
    .dashboardActionSideMenu a {font-size: 18px;}
}
/*EndTag - DashbardSideActionMenu ------------------------------------------- */





body {    
    padding-bottom: 0 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.marginBottom{
    margin-bottom:10px;
}
.txtRight{
    text-align:right !important;
}
.NavUserName{
    color:#fff;
    font-size:19px !important;
}
.NavUserDetails{
    color:#fff;
    font-size:18px !important;
}

.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}
th {
    cursor: pointer;
}
.TextUppercase {
    text-transform: uppercase;
}
.handCursor {
    cursor: pointer !important;
}
.noMarginBottom {
    margin-bottom: 0 !important;
}
.paddinLeftNone {
    padding-left: 0 !important;
}
.floatRight {
    float: right !important;
}
.st-sort-ascent:before {
    content: '\25B2';
}
.st-sort-descent:before {
    content: '\25BC';
}
.CustomTable {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: stretch;
    height: 450px; /* this can vary */
    /*border:1px solid lightgray;*/
}
.CustomTable * {
        -moz-box-sizing: inherit;
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
        border-color: lightgray;
        /*font-family: "FRANKLIN GOTHIC BOOK";*/
    }
.CustomTable thead {
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        align-items: stretch;
        /*font-family: "FRANKLIN GOTHIC BOOK";*/
        font-size:14px !important;
    }
.CustomTable tbody {
        overflow-y: auto;
        display: inline-block;
    }
.CustomTable thead > tr, .CustomTable tbody > tr, .CustomTable tfoot > tr {
            display: flex;
            -ms-flex-direction: row;
            -webkit-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: nowrap;
            -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap;
        }
.CustomTable thead, .CustomTable tfoot {
        flex-shrink: 0;
    }
.CustomTable th, .CustomTable tbody td {
        width: 20%; /* this can vary */
        overflow-x: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: inline-block;
    }
.CustomTable tbody td {
        font-size: 12px;
        padding: 2px 8px 2px 8px !important;
    }
.CustomTable tfoot {
        display: inline-block;
    }
.CustomTable tfoot td {
            width: 100%;
            display: inline-block;
        }
/*Pagination css*/
.select-page {
    width: 50px;
    text-align: center;
    line-height: 100%;
}
.pagination {
    margin: 0 !important;
}
.pagination li a input {
        padding: 0;
        margin: -5px 0;
    }
/*pagination css ends*/
.fontred {
    color: red;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.Exporttoexcel {
     width: 23px;
    height: 21px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAUCAYAAAH+e/2mAAAAGXRF…0ApERyQeJ0DDWhuYQfACk7yo0jOcDXf8Hlo5JKuJIAQCdubwQe6YzfwAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
}
.screenCenter {
    position:absolute;
    width: 40%;    
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%,-50%) !important;
    -ms-transform: translate(-50%,-50%) !important;
    -o-transform: translate(-50%,-50%) !important;
    -webkit-transform: translate(-50%,-50%) !important;
    transform: translate(-50%,-50%) !important;
    background-color:#fff;
    text-align:center;    
    z-index:50000 !important;
    font-size:1em !important;
    line-height:35px;
}
.screenBackdrop{
    box-shadow:0 0 0px 9999px rgba(0,0,0,0.7) !important;
}
.alignCenter{
    float:none !important;
    margin:0 auto 0 auto !important;
}
.initialHidden{
    display:none !important;
}

.content{
    padding-bottom:5px !important;
}
.padding8px{
    padding-left:3px;
    padding-right:3px;
}
.emptyMessageBox {
    position: absolute;
    /*border: 1px solid red;*/
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%,50%);
    -ms-transform: translate(-50%,50%);
    -o-transform: translate(-50%,50%);
    -webkit-transform: translate(-50%,50%);
    transform: translate(-50%,50%);
    color: #ccc;
    font-size: 2vw;
    text-align: center;
    padding: 15px;
    z-index: 9999 !important;
}