﻿<div class="box box-warning"  data-ng-app="App" data-ng-controller="Consignment_ngController" ng-init="loadConsignmentBookings()">
<div><input type="hidden" id="hdnBranchID" ng-model="BranchId" value='@ViewData["BranchId"]' /></div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="box-header with-border col-lg-12">
                <h3 class="box-title">Consignment Booking</h3>
                <input type="button" class="btn btn-info pull-right btn-sm"  data-ng-click="AddBookings()" value="Add Consignment">
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-body table-responsive no-padding" style="height: 400px">
                                <table class="table table-striped table-hover CustomTable" st-table="activeConsignmentBooking" st-safe-src="activeConsignmentBookingCollection">
                                    <thead>
                                        <tr>
                                            <th st-sort="ConsignmentNo">Consignment No</th>
                                            <th st-sort="ConsigneeName">Consignee</th>
                                            <th st-sort="ConsignorName">Consignor</th>
                                            <th st-sort="ConsignmentDate">Booking Date</th>
                                            <th st-sort="ConsignmentFrom">From</th>
                                            <th st-sort="ConsignmentTo">To</th>
                                            <th>Action</th>
                                            @*<th>Claim</th>*@
                                        </tr>
                                    </thead>
                                    <tr data-ng-repeat="bookings in activeConsignmentBooking">
                                       <td>{{bookings.ConsignmentNo}}</td>
                                        <td>{{bookings.ConsigneeName}}</td>
                                        <td>{{bookings.ConsignorName}}</td>
                                        <td>{{bookings.ConsignmentDate  | date:'dd/MM/yyyy'}}</td>
                                        <td>{{bookings.ConsignmentFrom}}</td>
                                        <td>{{bookings.ConsignmentTo}}</td>
                                        <td><button type="button" data-ng-click="EditBookings(bookings.ConsignmentID)" data-target="#ConsignmentModal" class="btn btn-primary pull-left btn-sm">Edit</button>
                                            <button type="button" data-ng-click="DeleteBookings(bookings.ConsignmentID)"  class="btn btn-primary pull-left btn-sm">Delete</button>
                                        </td>
                                            @*<th>Claim</th>*@
                                    </tr>
                                                                        </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade bs-example-modal-lg" id="ConsignmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmInvoice">
        <div class="modal-dialog  modal-lg" role="document" style="height: 400px !important; width: 75% !important;" @*style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;"*@>
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeConsignmentModal()" />
                    <ul class="nav nav-tabs id="consignmentTabs"">
                        <li class="active"><a data-toggle="tab" href="#consignBookingEntry">Consignment Booking Entry</a></li>
                        <li><a ng-click="SelectBookingPayments()" data-toggle="tab" href="#consignBookingPayment">Consignment Booking Payment</a></li>
                    </ul>
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 400px!important;">
                        <div class="tab-content">
                            <div class="form-group col-lg-12 tab-pane fade in active" ng-form="frmBookings" id="consignBookingEntry" style="width: 100% !important">
                                @*
    <div class="form-group col-lg-4">
        <label>Consignment No </label>
        <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Br4445555" ng-model="consignmentBooking.ConsignmentNo" readonly>
    </div>
                                *@
                                <div class="form-group col-lg-4">
                                    <label>Consignment Date</label>
                                    <input autocomplete="off" type="text" id="txtConsignmentDate" readonly class="form-control maxwidth" placeholder="Date" ng-model="consignmentBooking.ConsignmentDate">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Payment Type </label>

                                    <select id="dpdnpmtType" class="form-control" ng-change="ShowBillingParty()" ng-model="consignmentBooking.PaymentTypeID"
                                              ng-required="true">
                                        <option value="" ng-selected="pt.PaymentTypeID == ''">-Select-</option>
                                        <option data-ng-repeat="pt in PaymentTypes track by pt.PaymentTypeID" ng-selected="pt.PaymentTypeID == consignmentBooking.PaymentTypeID" value="{{pt.PaymentTypeID}}">{{pt.PaymentType}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Consignment From </label>
                                    <select id="dpdnFrom" class="form-control" ng-model="consignmentBooking.ConsignmentFromID" ng-required="true">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="bch in Branches" value="{{bch.BranchID  }}" ng-selected="bch.BranchID  == consignmentBooking.ConsignmentFromID">{{bch.BranchName}}</option>

                                    </select>
                                   

                                </div>

                                <div class="form-group col-lg-4">
                                    <label>Consignment To </label>
                                    
                                    <select id="dpdnFrom" class="form-control" ng-model="consignmentBooking.ConsignmentToID" ng-required="true"       >
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="bch in Branches" value="{{bch.BranchID  }}" ng-selected="bch.BranchID  == consignmentBooking.ConsignmentToID">{{bch.BranchName}}</option>

                                    </select>
                                    <span style="color:red" ng-if="(consignmentBooking.ConsignmentToID == consignmentBooking.ConsignmentFromID) && consignmentBooking.ConsignmentToID != ''">
                                        Consignment From ID and To ID can not be same!
                                    </span> 
                                </div>

                                <div class="form-group col-lg-4">
                                    <label>Delivery Type </label>
                                    <select id="dpdnDeliveryType" class="form-control" ng-model="consignmentBooking.DeliveryTypeID" ng-required="true">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="dt in DeliveryTypes" value="{{dt.DeliveryTypeID  }}" ng-selected="dt.DeliveryTypeID   == consignmentBooking.DeliveryTypeID">{{dt.DeliveryType  }}</option>
                                    </select>
                                </div>

                                <div class="form-group col-lg-4">
                                    <label>Billing Party </label>
                                    <select id="dpdnBillingParty" ng-disabled="!(isBillingParty)" class="form-control"ng-model="consignmentBooking.BillingPartyID" >
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="v in BillingVendors" value="{{v.VendorID  }}" ng-selected="v.VendorID == consignmentBooking.BillingPartyID">{{v.VendorName}}</option>
                                    </select>
                                </div>

                                <div class="form-group col-lg-4">
                                    <label>Type of Transport</label>
                                    <select id="dpdnTransType" class="form-control"ng-model="consignmentBooking.TransportTypeID" ng-required="true">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="tt in TransportTypes" value="{{tt.TransportTypeID  }}" ng-selected="tt.TransportTypeID == consignmentBooking.TransportTypeID">{{tt.TransportType}}</option>
                                       
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Service Tax Paid By</label>

                                    <select id="dpdnSvcTax" class="form-control" ng-model="consignmentBooking.ServiceTaxId" ng-required="true">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="st in ServiceTaxPaidBy" value="{{st.ServiceTaxPaidByID  }}" ng-selected="st.ServiceTaxPaidByID == consignmentBooking.ServiceTaxId">{{st.ServiceTaxPaidBy}}</option>

                                    </select>
                                </div>
                                <div class="form-group col-lg-4" ng-hide="consignmentBooking.PaymentTypeID ==1 || consignmentBooking.PaymentTypeID ==2" >
                                    <label>Consignor Name</label>
                                    <select id="dpdnConsignor" class="form-control" ng-change="GetConsignorAddress()" ng-model="consignmentBooking.ConsignorID" ng-required="!(consignmentBooking.PaymentTypeID ==1 || consignmentBooking.PaymentTypeID ==2)">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="v in consignorVendors" value="{{v.VendorID  }}" ng-selected="v.VendorID == consignmentBooking.ConsignorID">{{v.VendorName}}</option>

                                    </select>

                                </div>
                                <div class="form-group col-lg-4" ng-show="consignmentBooking.PaymentTypeID ==1|| consignmentBooking.PaymentTypeID == 2">
                                    <label>Consignor Name</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Consignor Name" ng-model="consignmentBooking.ConsignorName"  ng-required="consignmentBooking.PaymentTypeID ==1|| consignmentBooking.PaymentTypeID == 2">

                                </div>
                                <div class="form-group col-lg-8">
                                    <label>Consignor Address</label>
                                    <input ng-required="true" autocomplete="off" type="text" name="consignorAddr" multiple="true" ng-required="true" ng-maxlength="500" class="form-control maxwidth" placeholder="Consignor Address" ng-model="consignmentBooking.ConsignorAddress"  >
                                    <span style="color:red" ng-show="frmBookings.consignorAddr.$error.maxlength">
                                        Only 500 characters allowed !!
                                    </span>
                                </div>
                                <div class="form-group col-lg-4" ng-hide="consignmentBooking.PaymentTypeID ==1 || consignmentBooking.PaymentTypeID ==2">
                                    <label>Consignee Name</label>
                                    <select id="dpdnConsignee" class="form-control" ng-change="GetConsigneeAddress()" ng-model="consignmentBooking.ConsigneeID" ng-required="!(consignmentBooking.PaymentTypeID ==1 || consignmentBooking.PaymentTypeID ==2)">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="v in Vendors" value="{{v.VendorID  }}" ng-selected="v.VendorID == consignmentBooking.ConsigneeID">{{v.VendorName}}</option>

                                    </select>
                                    
                                </div>
                                <div class="form-group col-lg-4" ng-show="consignmentBooking.PaymentTypeID ==1 || consignmentBooking.PaymentTypeID ==2 ">
                                    <label>Consignee Name</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Consigne Name" ng-model="consignmentBooking.ConsigneeName" ng-required="consignmentBooking.PaymentTypeID ==1 || consignmentBooking.PaymentTypeID ==2" >

                                </div>
                                <div class="form-group col-lg-8">
                                    <label>Consignee Address</label>
                                    <input autocomplete="off" type="text" name="consigneeAddr" ng-maxlength="500" multiple="true" class="form-control maxwidth" placeholder="Consignee Address" ng-model="consignmentBooking.ConsigneeAddress" ng-required="true" >
                                    <span style="color:red" ng-show="frmBookings.consigneeAddr.$error.maxlength">
                                        Only 500 characters allowed !!
                                    </span>
                                </div>

                                <div class="form-group col-lg-4">
                                    <label>Door Collection</label>
                                    <select id="dpdnDCColl" class="form-control" ng-model="consignmentBooking.DoorCollectionID" ng-change="ShowVehicles()" ng-required="true">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="dc in DoorCollections" value="{{dc.DoorCollectionID  }}" ng-selected="dc.DoorCollectionID == consignmentBooking.DoorCollectionID">{{dc.DoorCollection}}</option>

                                    </select>
                                </div>
                                <div class="form-group col-lg-4" ng-if="isDoorCollection">
                                    <label>Vehicle  No</label>
                                    <select id="dpdnVehicle" class="form-control" ng-model="consignmentBooking.VehicleID" ng-required="true">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="vh in Vehicles" value="{{vh.VehicleID  }}" ng-selected="vh.VehicleID == consignmentBooking.VehicleID">{{vh.VehicleNo }}</option>


                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Cargo Type</label>
                                    <select id="dpdnCargo" class="form-control" ng-model="consignmentBooking.CargotTypeID" ng-required="true">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="ct in CargoTypes" value="{{ct.CargoTypeID  }}" ng-selected="ct.CargoTypeID == consignmentBooking.CargotTypeID">{{ct.CargoType}}</option>

                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Mode of Transport</label>
                                    <select id="dpdnTransmode" class="form-control" ng-model="consignmentBooking.TransportModeID" ng-required="true">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="tm in Transportmodes" value="{{tm.TransportModeId  }}" ng-selected="tm.TransportModeId == consignmentBooking.TransportModeID">{{tm.TransportMode}}</option>
                                    </select>
                                </div>
                                @*
                                <div class="form-group col-lg-4">
                                    <label>Vendor Code</label>

                                    <select id="dpdnVendorcode" class="form-control" ng-model="consignmentBooking.Vendor"  ng-required="true">
                                        <option value="" selected>-Select-</option>
                                        <option value="C">Vc001</option>
                                        <option value="ch">Vc002</option>
                                    </select>
                                </div>
                                    *@
                                <div class="form-group col-lg-12">
                                    <button type="button" class="btn btn-primary" ng-click="SaveBookings()">Save</button>
                                    <button type="button" class="btn btn-info" ng-click="showPartyInvoiceModal()">Add Invoice</button>
                                </div>
                            </div>

                            <div class="form-group col-lg-12 tab-pane fade"  ng-form="frmBookingPayments" id="consignBookingPayment" style="width: 100% !important">
                                <div class="form-group col-lg-3">
                                    <label>Goods Description</label>
                                    <select id="drpPmtLRType" ng-model="BookingPayment.GoodsDescription" class="form-control" @*ng-change="getnewlrNo(joborderlr)"*@ ng-required="true">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="gd in GoodsDesc" value="{{gd.GoodsID  }}" ng-selected="gd.GoodsID == BookingPayment.GoodsDescription">{{gd.GoodsCode}}</option>
                                    </select>
                                </div>
                                
                                <div class="form-group col-lg-3">
                                    <label>Insurance </label>

                                    <select id="drpInsurance" ng-model="BookingPayment.InsuranceFlag" ng-change="CalculateFOV()" class="form-control" ng-required="true">
                                        <option value=""  ng-selected="pt.InsuranceFlag == ''" >-Select-</option>
                                        <option value="true" ng-selected="BookingPayment.InsuranceFlag == 'true'">Yes</option>
                                        <option value="false" ng-selected="BookingPayment.InsuranceFlag == 'false'">No</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label>Vendor Code :{{VendorCodeBookingpayments}} </label>
                                    
                                </div>

                                <div class="form-group col-lg-3">
                                    <span ><b>Basic Freight : {{TotalFreight}}</b></span>
                                </div>
                                <div class="form-group col-lg-8">
                                    <table class="table table-striped table-hover">
                                        <thead><tr><th colspan="4">All Charges</th></tr></thead>
                                        <tr>
                                            <td>Docket Charges&nbsp;&nbsp;</td>
                                            <td><input autocomplete="off" type="number" ng-change="CalculateTotalAmount()" ng-model="BookingPayment.DocketCharges" class="form-control maxwidth"  placeholder="Docket Charges" value="50" ></td>
                                            <td>FOV&nbsp;&nbsp;</td>
                                            <td><input autocomplete="off" type="number" ng-change="CalculateTotalAmount()" ng-model="BookingPayment.FOV"  class="form-control maxwidth" placeholder="FOV Charges" value="50" readonly ></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Door Collection
                                            </td>
                                            <td><input autocomplete="off" type="number" ng-change="CalculateTotalAmount()" ng-model="BookingPayment.DoorCollection" class="form-control maxwidth" placeholder="Door Collection" value="50" ></td>
                                            <td>
                                                Octroi Charges
                                            </td>
                                            <td><input autocomplete="off" type="number" ng-change="CalculateTotalAmount()" ng-model="BookingPayment.Octroicharges" class="form-control maxwidth" placeholder="Octroi Charges" value="50" ></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Door Delivery
                                            </td>
                                            <td><input ng-disabled="!(ApplyDoorDelivery)" autocomplete="off" type="number" ng-change="CalculateTotalAmount()" ng-model="BookingPayment.DoorDelivery"  class="form-control maxwidth" placeholder="Door Delivery" value="50" ></td>
                                            <td>
                                                Octroi Surcharges
                                            </td>
                                            <td><input autocomplete="off" type="number" ng-change="CalculateTotalAmount()" class="form-control maxwidth" placeholder="Octroi Surcharges" value="50" ng-model="BookingPayment.OctroiSurcharges"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Labour Charges
                                            </td>
                                            <td><input autocomplete="off" type="number" ng-change="CalculateTotalAmount()" class="form-control maxwidth" placeholder="Labour Charges" value="50" ng-model="BookingPayment.LabourCharges"></td>
                                            <td>
                                                Other Charges
                                            </td>
                                            <td><input autocomplete="off" type="number" ng-change="CalculateTotalAmount()" class="form-control maxwidth" placeholder="Other Charges" value="50" ng-model="BookingPayment.OtherCharges"></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <span> <b>Total Payment</b></span>
                                            </td>
                                            <td><input autocomplete="off" style="background-color:yellow" type="text" class="form-control maxwidth" placeholder="Total" value="50" ng-model="BookingPayment.TotalAmount" readonly></td>
                                        </tr>
                                    </table>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <table class="table table-striped table-hover">
      @*
    <thead>
        <tr>
            <th>
                PO No
            </th>
            <th colspan="2">
                <input autocomplete="off" ng-maxlength="10" type="text" class="form-control maxwidth" placeholder="PO No" ng-model="BookingPayment.PONo" ng-required="true" >
            </th>
        </tr>
    </thead>
    *@                                      
                                            <tr>
                                                <td><b>Tax </b></td>
                                                <td><b>%</b></td>
                                                <td><b>Amount</b></td>
                                                
                                            </tr>
                                            <tr ng-repeat="tax in paymentTaxes">
                                                <td>{{tax.TaxType}}</td> 
                                                <td>{{tax.TaxPercent}}</td> 
                                                <td>{{(tax.TaxPercent * BookingPayment.TotalAmount)/100}}</td> 
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>
                                                    <b>Grand Total</b>
                                                </td>
                                                <td><input autocomplete="off" style="background-color:yellow" type="text" class="form-control maxwidth" placeholder="Grand Total" ng-model="BookingPayment.GrandTotal" readonly></td>
                                            </tr>
                                        </table>
                                    </div>
                                <div class="form-group col-lg-12">&nbsp;</div>
                                    <div class="form-group col-lg-4">
                                        <label>Road Permit </label>
                                        <select id="drpPmtLRType" class="form-control"ng-model="BookingPayment.RoadPermitAttached" ng-required="true">
                                            <option value=""  ng-selected="pt.RoadPermitAttached == ''" >-Select-</option>
                                            <option value="true" ng-selected="BookingPayment.RoadPermitAttached == true">Yes</option>
                                            <option value="false" ng-selected="BookingPayment.RoadPermitAttached == false">No</option>
                                        </select>

                                    </div>

                                    <div class="form-group col-lg-4">
                                        <label>Permit Type </label>
                                        <input autocomplete="off" name="roadPermitType" ng-maxlength="250" type="text" class="form-control maxwidth" placeholder="Permit Type" ng-model="BookingPayment.RoadPermitType" ng-required="BookingPayment.RoadPermitAttached == true">
                                        <span style="color:red" ng-show="frmBookingPayments.roadPermitType.$error.maxlength">
                                            Only 250 characters allowed !!
                                        </span>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label>Remarks</label>
                                        <input autocomplete="off" name="consignpaymentRemark" type="text" class="form-control maxwidth" placeholder="Remarks" ng-model="BookingPayment.Remark" ng-maxlength="500">
                                        <span style="color:red" ng-show="frmBookingPayments.consignpaymentRemark.$error.maxlength">
                                            Only 500 characters allowed !!
                                        </span>
                                    </div>

                               
                                <div class="form-group col-lg-4">
                                    <label>Payment Type</label>
                                    <select id="drpPmtLRType" class="form-control" ng-required="true" ng-model="BookingPayment.PaymentTypeID">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="pt in bankPaymentTypes" value="{{pt.PaymentTypeID  }}" ng-selected="pt.PaymentTypeID == VehicleHire.PaymentTypeID">{{pt.PaymentType}}</option>

                                    </select>
                                </div>

                                <div class="form-group col-lg-4">
                                    <label>Bank Name</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Bank Name" ng-model="BookingPayment.BankName">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Branch Name</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Branch Name" ng-model="BookingPayment.BranchName">
                                </div>

                                <div class="form-group col-lg-4">
                                    <label>IFSC Code</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="IFSC Code" ng-model="BookingPayment.IFSCCode">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Pan No</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Pan No" ng-model="BookingPayment.PanNo">
                                </div>
                                    <div class="form-group col-lg-12">
                                        <button type="button" id="btnConsignmentPayment" class="btn btn-primary" ng-click="SaveBookingPayments()">Save</button>
                                    </div>

                                </div>
                          </div>
                      </div>
                    <div class="modal-footer">
                        
                        <button type="submit" class="btn btn-warning" ng-click="closeConsignmentModal()" >Cancel</button>
                    </div>
             
            </div>
        </div>
    </div>
</div>



    <div class="modal fade bs-example-modal-lg" id="PartyInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmInvoice">
        <div class="modal-dialog  modal-lg" role="document" style="height: 450px !important; width: 75% !important;" @*style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;"*@>
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeInvoiceModal()" />
                    Add Party Invoice
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 450px !important;">
                        <div class="form-group col-lg-12" ng-show="showAddInvoicePanel" >
                            <div class="form-group col-lg-4">
                                <label>Invoice No </label>
                                <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Invoice No" ng-model="ConsignmentPartyInvoice.InvoiceNo" ng-required="true">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Invoice Date</label>
                                <input autocomplete="off" type="text" id="txtInvoiceDate" class="form-control maxwidth" placeholder="Invoice Date" ng-model="ConsignmentPartyInvoice.InvoiceDate">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Invoice Value </label>

                                <input autocomplete="off" type="number" class="form-control maxwidth" placeholder="Invoice Value" ng-model="ConsignmentPartyInvoice.InvoiceValue">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Invoice Quantity </label>
                                <input autocomplete="off" type="number" class="form-control maxwidth" placeholder="Invoice Quantity" ng-model="ConsignmentPartyInvoice.InvoiceQuantity" ng-required="true">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Part No</label>
                                <input autocomplete="off" type="text"  class="form-control maxwidth" placeholder="Part No" ng-model="ConsignmentPartyInvoice.PartNo">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Asn No </label>

                                <input autocomplete="off" type="text"   class="form-control maxwidth" placeholder="Asn No" ng-model="ConsignmentPartyInvoice.ASNNo">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Article</label>
                                <input autocomplete="off" type="number" class="form-control maxwidth" placeholder="Article" ng-model="ConsignmentPartyInvoice.Article" ng-required="true">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Packaging</label>
                                <select id="drpPackaging" class="form-control" ng-model="ConsignmentPartyInvoice.PackagingID" @*ng-change="getnewlrNo(joborderlr)"*@ ng-required="true">
                                    <option value="" selected>-Select-</option>
                                    <option data-ng-repeat="pkg in Packagings" value="{{pkg.PackagingID  }}" ng-selected="pkg.PackagingID   == ConsignmentPartyInvoice.PackagingID">{{pkg.Packaging  }}</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Actual Weight </label>

                                <input autocomplete="off" type="number" class="form-control maxwidth" placeholder="Actual Weight" ng-model="ConsignmentPartyInvoice.ActualWeight">
                            </div>

                            <div class="form-group col-lg-4">
                                <label>Charge Weight </label>
                                <input autocomplete="off" type="number" ng-change="CalculateBasicFreight($index)" class="form-control maxwidth" placeholder="Charge Weight" ng-model="ConsignmentPartyInvoice.ChargeWeight" ng-required="true">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Rate per KG</label>
                                <input autocomplete="off" type="number" ng-change="CalculateBasicFreight($index)" class="form-control maxwidth" placeholder="Rate per KG" ng-model="ConsignmentPartyInvoice.RatePerKG">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Basic Freight </label>

                                <input autocomplete="off" type="number" readonly class="form-control maxwidth" placeholder="Basic Freight" ng-model="ConsignmentPartyInvoice.BasicFreight" readonly>
                            </div>
                            <div class="form-group col-lg-4">
                                <label>L x W x H</label>

                                <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="L x W x H" ng-model="ConsignmentPartyInvoice.LxWxH" ng-required="!(ConsignmentPartyInvoice.ChargeWeight == ConsignmentPartyInvoice.ActualWeight)">
                            </div>
                            <div class="form-group col-lg-8">
                                &nbsp;
                                </div>
                                <div class="form-group col-lg-12">
                                    <button type="button" class="btn btn-primary" ng-click="SavePartyInvoices()">Save</button>
                                    <button type="submit" class="btn btn-warning" ng-click="CancelInvoiceSave()">Cancel</button>
                                </div>
                            </div>

                        <div class="form-group col-lg-12" >
                            <table style="display: block;overflow-x:auto;" class="table table-striped table-hover CustomTable" st-table="activePartyInvoices" st-safe-src="activePartyInvoicesCollection">
                                
                                    <tr  >

                                        <th st-sort="InvoiceNo">Invoice No</th>
                                        <th st-sort="InvoiceDate">Invoice Date</th>
                                        <th st-sort="InvoiceQuantity">Invoice Quantity</th>
                                        <th st-sort="InvoiceValue">Invoice Value</th>
                                        <th st-sort="PartNo">Part No</th>
                                        <th st-sort="ASNNo">ASN No</th>
                                        <th st-sort="Article">Article</th>
                                        <th st-sort="Packaging">Packaging</th>
                                        <th st-sort="ChargeType">Charge Type</th>
                                        <th st-sort="ActualWeight">Actual Weight</th>
                                        <th st-sort="ChargeWeight">Charge Weight</th>
                                        <th st-sort="RatePerKG">Rate PerKG</th>
                                        <th st-sort="L x W x H">L x W x H</th>
                                        <th st-sort="BasicFreight">Basic Freight</th>
                                        <th st-sort="PONo">Po No</th>
                                        <th><input type="button" class="btn btn-info pull-right btn-sm" ng-click="AddInvoiceRow()" value="Add"></th>
                                    </tr>
                                
                                
        <tr ng-repeat="invoice in activePartyInvoices">
            <td>{{invoice.InvoiceNo}}</td>
            <td>{{invoice.InvoiceDate  | date :'dd/MM/yyyy'}}</td>
            <td>{{invoice.InvoiceQuantity}}</td>
            <td>{{invoice.InvoiceValue}}</td>
            <td>{{invoice.PartNo}}</td>
            <td>{{invoice.ASNNo}}</td>
            <td>{{invoice.Article}}</td>
            <td>{{invoice.Packaging}}</td>
            <td>{{invoice.ChargeType}}</td>
            <td>{{invoice.ActualWeight}}</td>
            <td>
                {{invoice.ChargeWeight}}
            </td>
            <td>{{invoice.RatePerKG}}</td>
            <td>{{invoice.LxWxH}}</td>
             <td>{{invoice.BasicFreight}}</td>
            <td>{{invoice.PONo}}</td>

            <td><input type="button" class="btn btn-info pull-right btn-sm" ng-click="DeletePartyInvoice(invoice.PartyInvoiceID)" value="Delete"></td>
        </tr>
                                
                                <tr  ng-repeat="invoice in ConsignmentPartyInvoice" ng-form="frmInvoice">
                                    <td >
                                          <input autocomplete="off" type="number" class="form-control maxwidth" placeholder="Invoice No" ng-model="invoice.InvoiceNo" ng-required="true">
                                       
                                    </td>
                                    <td>
                                            <input autocomplete="off" type="text" id="txtInvoiceDate" class="form-control maxwidth" placeholder="Date" ng-model="invoice.InvoiceDate">
                                   </td>
                                   
                                    <td>
                                            <input autocomplete="off" type="number" class="form-control maxwidth" placeholder="Quantity" ng-model="invoice.InvoiceQuantity" ng-required="true">
                                        </td>
                                    <td>
                                        <input autocomplete="off" type="number" class="form-control maxwidth" placeholder="Value" ng-model="invoice.InvoiceValue">
                                    </td>
                                    <td>
                                            <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Part No" ng-model="invoice.PartNo">
                                    </td>
                                    <td>
                                            <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Asn No" ng-model="invoice.ASNNo">
                                    </td>    
                                    <td>
                                            <input autocomplete="off" type="number" class="form-control maxwidth" ng-change="CalculateBasicFreight($index)" placeholder="Article" ng-model="invoice.Article" ng-required="true">
                                            </td>
                                        <td>
                                            <select id="drpPackaging" class="form-control" ng-model="invoice.PackagingID" @*ng-change="getnewlrNo(joborderlr)"*@ ng-required="true">
                                                <option value="" selected>-Select-</option>
                                                <option data-ng-repeat="pkg in Packagings" value="{{pkg.PackagingID  }}" ng-selected="pkg.PackagingID   == invoice.PackagingID">{{pkg.Packaging  }}</option>
                                            </select>
                                            </td>
                                    <td>


                                        <select id="drpPackaging" class="form-control" ng-model="invoice.ChargeType" ng-required="true" ng-change="CalculateBasicFreight($index)">
                                            <option value="" selected>-Select-</option>
                                            <option data-ng-repeat="type in ChargeTypes" value="{{type.ChargeTypeID  }}" ng-selected="type.ChargeTypeID   == invoice.ChargeType">{{type.ChargeType  }}</option>
                                        </select>
                                    </td>    
                                    <td>
                                            <input autocomplete="off" type="number" class="form-control maxwidth" placeholder="Actual Weight" ng-model="invoice.ActualWeight">
                                            </td>
                                        <td>
                                            <input autocomplete="off" type="number" ng-change="CalculateBasicFreight($index)" class="form-control maxwidth" placeholder="Charge Weight" ng-model="invoice.ChargeWeight" ng-required="true">
                                            </td>
                                        <td>
                                            <input autocomplete="off" type="number" ng-change="CalculateBasicFreight($index)" class="form-control maxwidth" placeholder="Rate per KG" ng-model="invoice.RatePerKG">
                                            </td>
                                    <td>


                                        <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="L x W x H" ng-change="CalculateBasicFreight($index)" ng-model="invoice.LxWxH" ng-required="!(invoice.ChargeWeight == invoice.ActualWeight ) &&  !(invoice.ChargeType == 1)">
                                    </td>    
                                    <td>

                                            <input autocomplete="off" type="number" readonly class="form-control maxwidth" placeholder="Basic Freight" ng-model="invoice.BasicFreight" readonly>
                                            </td>
                                    
                                   
                                    <td>


                                        <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="PONo" ng-model="invoice.PONo" >
                                    </td>
<td>
                                                <button type="button" class="btn btn-primary" ng-click="SavePartyInvoices($index)">Save</button>
                                                <button type="submit" class="btn btn-warning" ng-click="CancelInvoiceSave($index)">Cancel</button>
                                        
                                    </td>
                                </tr>
                               
                            </table>
                        </div>
                   
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning" ng-click="closeInvoiceModal()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
