﻿<div class="box box-warning" data-ng-app="App" data-ng-controller="ManifestDelivery_ngController" ng-init="GetConsignmentsForDelivery()">
    <div><input type="hidden" id="hdnBranchID" ng-model="BranchId" value='@ViewData["BranchId"]' /></div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="box-header with-border col-lg-12">
                <h3 class="box-title">Manifest Report</h3>
            </div>
            <div class="form-group col-lg-12" >
                
            </div>
               <div class="col-lg-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-body table-responsive no-padding" style="height: 400px">
                                    <table class="table table-striped table-hover CustomTable" st-table="activeConsignments" st-safe-src="activeConsignmentCollection">
                                        <thead>
                                            <tr>
                                                <th st-sort="ConsignmentNo">Consignment No</th>
                                                <th st-sort="ConsigneeName">Consignee</th>
                                                <th st-sort="ConsignorName">Consignor</th>
                                                <th st-sort="ConsignmentDate">Booking Date</th>
                                                <th st-sort="ConsignmentFrom">From</th>
                                                <th st-sort="ConsignmentTo">To</th>
                                                <th st-sort="paymentType">Payment Type</th>
                                                <th st-sort="InvoiceQuantity">Quantity</th>
                                                <th st-sort="ChargeWeight">Charge weight</th>
                                                <th st-sort="DeliveryTYpe">Delivery Type</th>
                                                <th st-sort="DeliveryStatus">Delivery Status</th>
                                                <th>Action</th>
                                                @*<th>Claim</th>*@
                                            </tr>
                                        </thead>
                                        <tr data-ng-repeat="bookings in activeConsignments">
                                            <td>{{bookings.ConsignmentNo}}</td>
                                            <td>{{bookings.ConsigneeName}}</td>
                                            <td>{{bookings.ConsignorName}}</td>
                                            <td>{{bookings.ConsignmentDate  | date:'dd/MM/yyyy'}}</td>
                                            <td>{{bookings.ConsignmentFrom}}</td>
                                            <td>{{bookings.ConsignmentTo}}</td>
                                            <td>{{bookings.paymentType}}</td>
                                            <td>{{bookings.InvoiceQuantity}}</td>
                                            <td>{{bookings.ChargeWeight}}</td>
                                            <td>{{bookings.DeliveryTYpe}}</td>
                                            <td>{{bookings.DeliveryStatus}}</td>
                                            <td>
                                                <button type="button" data-ng-click="showDeliveryModal(bookings)" data-target="#ConsignmentModal" class="btn btn-primary pull-left btn-sm">Set Delivery Status</button>

                                            </td>

                                            @*<th>Claim</th>*@
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="DeliveryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmInvoice">
        <div class="modal-dialog  modal-lg" role="document" style="height: 200px !important; width: 75% !important;" @*style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;"*@>
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeModal()" />
                    Update Status
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 300px !important;">

                        <div class="form-group col-lg-6" ng-form="frmDelivery" style="width: 100% !important">
                          
                            <div class="form-group col-lg-3">
                                <label>Delivery Status</label>
                                <select id="drpFrom" class="form-control" ng-model="manifestConsignment.DeliveryStatus" ng-required="true">
                                    <option value="" selected>-Select-</option>
                                    <option data-ng-repeat="stat in deliveryStatusTypes" value="{{stat.DeliveryStatusID}}">{{stat.DeliveryStatus}}</option>


                                </select>
                            </div>

                            <div class="form-group col-lg-3">
                                <label> Delivery Date</label>
                                <input autocomplete="off" id="txtDeliveryDate" type="text" class="form-control maxwidth" placeholder="Date" ng-model="manifestConsignment.DeliveryDate" >
                            </div>

                            <div class="form-group col-lg-3">
                                <label>Delivered Articles </label>
                                <input autocomplete="off" id="txtDelArticles" type="number" class="form-control maxwidth" placeholder="Delivered Articles" ng-model="manifestConsignment.DeliveredArticles">
                            </div>


                            <div class="form-group col-lg-3">
                                <label>Remarks</label>
                                <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Remarks" ng-model="manifestConsignment.DeliveryRemarks" >
                            </div>
                            
                            <div class="form-group col-lg-6">
                                <button type="button" class="btn btn-primary col-md-pull-0" ng-click="UpdateManifestConsignmentsStatus()">Save</button>
                                <button type="button" class="btn btn-primary col-md-pull-0" ng-click="closeModal()">Cancel</button>
                            </div>
                        </div>
                    
                    </div>
                    <div class="modal-footer">

                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>