﻿<div class="box box-warning" data-ng-app="App" data-ng-controller="UnloadManifest_ngController" ng-init="GetManifestForUnload()">
    <div><input type="hidden" id="hdnBranchID" ng-model="BranchId" value='@ViewData["BranchId"]' /></div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="box-header with-border col-lg-12">
                <h3 class="box-title">Manifest Unload</h3>
                

            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box">
                            <div class="box-body table-responsive no-padding" style="height: 400px">
                                <table class="table table-striped table-hover CustomTable" st-table="activeManifests" st-safe-src="activeManifestCollection">
                                    <thead>
                                        <tr>
                                            <th st-sort="ManifestNo">Manifest No</th>
                                            <th st-sort="FromBranch ">From Location</th>
                                            <th st-sort="ToBranch">To Location</th>
                                            <th st-sort="Created">Date</th>
                                            <th st-sort="EstimatedDeliveryDate">Estimated Delivery Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="manifestItem in activeManifests">
                                        <td>{{manifestItem.ManifestNo}}</td>
                                        <td>{{manifestItem.FromBranch  }}</td>
                                        <td>{{manifestItem.ToBranch}}</td>
                                        <td>{{manifestItem.Created  | date:'dd/MM/yyyy'}}</td>
                                        <td>{{manifestItem.EstimatedDeliveryDate  | date:'dd/MM/yyyy'}}</td>
                                        <td>
                                            <button type="button" ng-click="GetVehicleManifestUnload (manifestItem)" class="btn btn-warning pull-left btn-sm">Unload</button>
                                        </td>
                                    </tr>



                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>


    <div class="modal fade bs-example-modal-lg" id="UnloadManifestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmInvoice">
        <div class="modal-dialog  modal-lg" role="document" style="height: 200px !important; width: 75% !important;" @*style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;"*@>
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="CancelConsignment()" />
                    Create Manifest
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 450px !important;">

                        <div class="form-group col-lg-12" ng-form="frmUnloadManifest" style="width: 100% !important">
                            @*
                                <div class="form-group col-lg-6">
                                    <label>Manifest No </label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Manifest No" ng-model="VehicleManifest.ManifestNo" value="1" readonly>
                                </div>
                            *@
                            <div class="form-group col-lg-6">
                                <label>Vehicle No</label>

                                <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Vehicle No" ng-model="ManifestVehicleNo" readonly>
                            </div>
                            @*
                                <div class="form-group col-lg-6" ng-if="ManifestVehicleType != ''">
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Vehicle No" ng-model="ManifestVehicleType" readonly>
                                </div>
                            *@
                            <div class="form-group col-lg-6">
                                <label>Driver Name</label>
                                <input autocomplete="off" type="text" name="txtDriverName" class="form-control maxwidth" placeholder="Driver Name" ng-model="VehicleUnloadManifest.DriverName" readonly>

                            </div>
                            <div class="form-group col-lg-6">
                                <label>Driver Mobile No</label>
                                <input autocomplete="off" type="text" name="txtDriverMobile" class="form-control maxwidth" placeholder="Driver Mobile No" ng-model="VehicleUnloadManifest.DriverMobileNo" readonly>

                            </div>

                            <div class="form-group col-lg-6">
                                <label>Licence No</label>
                                <input autocomplete="off" type="text" name="txtLicNo" class="form-control maxwidth" placeholder="Licence No" ng-model="VehicleUnloadManifest.LicenseNo" readonly>

                            </div>
                            <div class="form-group col-lg-6">
                                <label>Date</label>
                                <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Date" ng-model="VehicleUnloadManifest.ArrivalDate" readonly>
                            </div>

                            <div class="form-group col-lg-6">
                                <label>Estimated Delivery Date</label>
                                <input autocomplete="off" id="txtUnloadEstDate" type="text" class="form-control maxwidth" placeholder="Estimated Delivery Date" value="26/10/2016" ng-model="VehicleUnloadManifest.EstimatedDeliveryDate" readonly>
                            </div>


                            <div class="form-group col-lg-6">
                                <label>Departure Time</label>
                                <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Departure Time" ng-model="VehicleUnloadManifest.DepartureTime" readonly>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Arrival Time</label>
                                <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Arrival Time" ng-model="VehicleUnloadManifest.ArrivalTime" readonly>
                            </div>

                            <div class="form-group col-lg-6">
                                <label>From</label>
                                <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="From Location " ng-model="VehicleUnloadManifest.FromBranch" readonly>

                            </div>
                            <div class="form-group col-lg-6">
                                <label>To</label>
                                <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="From Location " ng-model="VehicleUnloadManifest.ToBranch" readonly>

                            </div>

                        </div>
                        <div>

                            <div class="form-group col-lg-12">
                                <table class="table table-striped table-hover CustomTable" st-table="UnloadManifestConsignment">
                                    <thead>
                                        <tr>
                                            <th st-sort="ConsignmentNo">Consignment No</th>
                                            <th st-sort="ConsigneeName">Consignee</th>
                                            <th st-sort="ConsignorName">Consignor</th>
                                            <th st-sort="ConsignmentDate">Booking Date</th>
                                            <th st-sort="ConsignmentFrom">From</th>
                                            <th st-sort="ConsignmentTo">To</th>
                                            <th st-sort="TotalArticles">Total Articles</th>
                                            <th st-sort="ReceivedArticles">Received Articles</th>

                                                <th>Received Staus</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </thead>
                                    <tr data-ng-repeat="consignments in UnloadManifestConsignment">
                                        <td>{{consignments.ConsignmentNo}}</td>
                                        <td>{{consignments.ConsigneeName}}</td>
                                        <td>{{consignments.ConsignorName}}</td>
                                        <td>{{consignments.ConsignmentDate  | date:'dd/MM/yyyy'}}</td>
                                        <td>{{consignments.ConsignmentFrom}}</td>
                                        <td>{{consignments.ConsignmentTo}}</td>
                                        <td>{{consignments.TotalArticles}}</td>
                                        <td>
                                            <input autocomplete="off" type="number" class="form-control maxwidth" placeholder="Received Articles" ng-model="consignments.ReceivedArticles" >

                                        </td>
                                        <td>
                                            <select id="drpFrom" class="form-control" ng-model="consignments.ReceivedStatus" ng-change="CheckReceived($index)" ng-required="true">
                                                <option value="" ng-selected="true">-Select-</option>
                                                <option data-ng-repeat="status in ReceivedStatus" value="{{status.ReceivedID  }}">{{status.ReceivedType}}</option>


                                            </select>
                                        </td>
                                        <td>
                                            <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Remarks" ng-model="consignments.Remarks" ng-disabled="ReceivedStatusOK[$index]">

                                        </td>
                                    </tr>
                                    <tfoot>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-primary col-md-pull-11" ng-click="UpdateManifestConsignmentsStatus()">Save</button>
                                                <button type="button" class="btn btn-warning col-md-pull-12" ng-click="CancelConsignment()">Cancel</button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="submit" class="btn btn-warning" ng-click="CancelConsignment()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    </div>
