﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TMS - Transport Management System</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/JS")
     
    @RenderSection("scripts", required: false)

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini" data-ng-app="TransportManagementModule">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Home", "Login")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>TMS</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>TMS</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i>5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i>Very long description here that may not fit into the
                                                page and may cause design problems
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    9 LR Deletion Approvals
                                                </h3>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user"></i>
                                <span class="hidden-xs"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <p>
                                        <div class="NavUserName">@ViewBag.EMPLOYEENAME</div>
                                        <br />
                                        <div class="NavUserDetails"><small>@ViewBag.EMAILID</small></div>
                                        <br />
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    @*<div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                        </div>*@
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat" onclick="location.href='@Url.Action("Logout", "Login")'">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            @*<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>*@
                            <a href="#" class="btn box-warning" onclick="location.href='@Url.Action("Logout", "Login")'">Sign out</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="/Content/img/user.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@(ViewBag.EMPLOYEEID)</p>
                        <p>@ViewBag.EMPLOYEENAME</p>
                        <p>@ViewBag.EMAILID</p>
                        <p>@ViewBag.USERROLES</p>
                        <p>@ViewBag.ZONEID</p>
                    </div>
                </div>

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>

                    @*SideBarMenus for Accreditation*@
                    <li class="active treeview">
                        <a href="#">
                            <i class="fa  fa-check-square"></i>
                            <span>Operations</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="@Url.Action("Consignment", "Operations")"><i class="fa glyphicon glyphicon-plus"></i>Consignment Booking</a></li>
                            <li class="active"><a href="@Url.Action("VehicleHire", "Operations")"><i class="fa glyphicon glyphicon-plus"></i>Vehicle Hire Payment</a></li>
                            <li class="active"><a href="@Url.Action("LocalVehicleHire", "Operations")"><i class="fa glyphicon glyphicon-plus"></i>Local Vehicle Hire Payment</a></li>
                            <li class="active"><a href="@Url.Action("ManifestUnload", "Operations")"><i class="fa glyphicon glyphicon-plus"></i>Manifests Unload</a></li>
                            <li class="active"><a href="@Url.Action("ConsignmentDeliveryStatus", "Operations")"><i class="fa glyphicon glyphicon-plus"></i>Consignment Delivery</a></li>
                            <li class="active"><a href="@Url.Action("ManifestReport", "Operations")"><i class="fa glyphicon glyphicon-plus"></i>Manifest Reports</a></li>                            
                        </ul>
                    </li>

                    @*SideBarMenus for Business Develoment*@
                    <li class="treeview">
                        <a href="#">
                            <i class="fa  fa-check-square"></i>
                            <span>Maintenance</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="@Url.Action("EnquiryLeads", "BusinessDevelopment")"><i class="fa glyphicon glyphicon-plus"></i>Leads</a></li>
                            <li><a href="@Url.Action("Clients", "BusinessDevelopment")"><i class="fa glyphicon glyphicon-plus"></i>Clients</a></li>
                            <li><a href="@Url.Action("Opportunities", "BusinessDevelopment")"><i class="fa glyphicon glyphicon-plus"></i>Opportunities</a></li>
                            <li><a href="@Url.Action("Questionnaires", "BusinessDevelopment")"><i class="fa glyphicon glyphicon-plus"></i>Questionnaires</a></li>
                            <li><a href="@Url.Action("Quotation", "BusinessDevelopment")"><i class="fa glyphicon glyphicon-plus"></i>Quotations</a></li>
                            <li><a href="@Url.Action("OrderAcceptance", "BusinessDevelopment")"><i class="fa glyphicon glyphicon-plus"></i>Order Acceptances</a></li>
                        </ul>
                    </li>

                    @*SideBarMenus for Certification*@
                    <li class="treeview">
                        <a href="#">
                            <i class="fa  fa-check-square"></i>
                            <span>Accounts</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("ContractReview", "Certification")"><i class="fa glyphicon glyphicon-plus"></i>Contract Review</a></li>
                            <li><a href="@Url.Action("AuditPlanner", "Certification")"><i class="fa glyphicon glyphicon-plus"></i>Audit Planner</a></li>
                            <li><a href="@Url.Action("AuditApproval", "Certification")"><i class="fa glyphicon glyphicon-plus"></i>Audit Approval</a></li>
                            <li><a href="@Url.Action("MyAudits", "Certification")"><i class="fa glyphicon glyphicon-plus"></i>My Audits</a></li>
                            <li><a href="@Url.Action("AuditReportReview", "Certification")"><i class="fa glyphicon glyphicon-plus"></i>Audit Report Review</a></li>
                            <li><a href="@Url.Action("CertificateMaintenance", "Certification")"><i class="fa glyphicon glyphicon-plus"></i>Certificate Maintenance</a></li>
                        </ul>
                    </li>

                    @*SideBarMenus for Training*@
                    <li class="treeview">
                        <a href="#">
                            <i class="fa  fa-check-square"></i>
                            <span>Administrations</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="@Url.Action("UserMaster", "Administration")"><i class="fa glyphicon glyphicon-plus"></i>Users</a></li>
                            <li><a href="@Url.Action( "UserRoles","Administration")"><i class="fa glyphicon glyphicon-plus"></i>User Roles</a></li>
                            <li><a href="@Url.Action("Vehicles","Administration" )"><i class="fa glyphicon glyphicon-plus"></i>Vehicles</a></li>
                        </ul>
                    </li>

                  
                </ul>
                <div></div>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>

        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2016-2017</strong> All rights
            reserved.
        </footer>

        <!-- Control Sidebar -->
        @*<aside class="control-sidebar control-sidebar-dark">
                <div class="tab-content">
                    <div class="tab-pane" id="control-sidebar-home-tab">
                    </div>
                </div>
            </aside>*@
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        @*<div class="control-sidebar-bg"></div>*@
    </div>
</body>
</html>
