﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TMS | Transport Management System</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
        
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        body {
            background-color: #d3cfcf !important;
        }

        @@-moz-keyframes loadUp {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @@-webkit-keyframes loadUp {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @@keyframes loadUp {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .LoginBoxCover {
            border: 1px solid #eaeaea;
            background-color: #fff;
            position: fixed !important;
            top: 50%;
            left: 50%;
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            box-shadow: 0 0 50px 1px rgba(0,0,0,0.2);
            opacity: 0;
            padding-bottom: 15px;
            -moz-animation: loadUp 1s ease-in-out forwards;
            -o-animation: loadUp 1s ease-in-out forwards;
            -webkit-animation: loadUp 1s ease-in-out forwards;
            animation: loadUp 1s ease-in-out forwards;
        }

        .centerTxt {
            text-align: center;
        }

        .LoginBoxHeader {
            font-family: 'Segoe UI';
            font-size: 22px;
            font-weight: lighter;
            color: #808080;
        }
    </style>
</head>
<body data-ng-app="LoginModule" class="lockscreen" style="background-color:InactiveCaptionText;background-image: url('../Content/img/services1.png'); background-repeat:no-repeat;background-size:cover;">
    <div>
        <div>
            @*<img src= />*@
            <section class="content">
                @RenderBody()
            </section>
        </div>
    </div>
    <!-- ./wrapper -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/LoginModule")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
