﻿
@{
    ViewBag.Title = "Vehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="Vehicle_ngController">
    <div class="box box-warning">
        <div class="box-header with-border col-lg-12">
            <h3 class="box-title">Manage Vehicle Master</h3>
            <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#myModal" ng-click="Openaddnewmodel()" aria-hidden="true">Add New Vehicle</button>
        </div>
        <div class="box-body" style="height:560px !important">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body no-padding">
                            <table class="table table-striped table-hover CustomTable" st-table="Vehiclelist" st-safe-src="VehiclelistRowCollection" style="height:500px !important">
                                <thead>
                                    <tr>
                                        <th st-sort="VehicleNo">Vehicle No</th>
                                        <th st-sort="Manufacturer">Manufacturer</th>
                                        <th st-sort="VehiclePurchaseDate">Vehicle Purchase Date</th>
                                        <th st-sort="PassingMT">Passing MT</th>
                                        <th st-sort="NationalPermitRegNo">National Permit No</th>
                                        <th st-sort="IsHypothecated">Is Hypothecated</th>
                                        <th>Actions</th>
                                    </tr>
                                    <tr>
                                        <th class="paddinLeftNone"><input autocomplete="off" class="form-control" style="width:90% !important;" st-search="VehicleNo" placeholder="Vehicle No" /></th>
                                        <th class="paddinLeftNone"><input autocomplete="off" class="form-control" style="width:90% !important;" st-search="Manufacturer" placeholder="Manufacturer" /></th>
                                        <th class="paddinLeftNone"><input autocomplete="off" class="form-control" style="width:90% !important;" st-search="VehiclePurchaseDate" placeholder="Vehicle Purchase Date" /></th>
                                        <th class="paddinLeftNone"><input autocomplete="off" class="form-control" style="width:90% !important;" st-search="PassingMT" placeholder="Passing MT" /></th>
                                        <th class="paddinLeftNone"><input autocomplete="off" class="form-control" style="width:90% !important;" st-search="NationalPermitRegNo" placeholder="National Permit No" /></th>
                                        <th class="paddinLeftNone"><input autocomplete="off" class="form-control" style="width:90% !important;" st-search="IsHypothecated" placeholder="Is Hypothecated" /></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="item in Vehiclelist">
                                        <td><span ng-bind="item.VehicleNo"></span></td>
                                        <td><span ng-bind="item.Manufacturer"></span></td>
                                        <td><span ng-bind="item.VehiclePurchaseDate"></span></td>
                                        <td><span ng-bind="item.PassingMT"></span></td>
                                        <td><span ng-bind="item.NationalPermitRegNo"></span></td>
                                        <td><span ng-bind="item.IsHypothecated"></span></td>
                                        <td>
                                            <button class="btn btn-sm btn-warning" ng-click="Openmodel(item)" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#myModal">Edit</button>
                                            <button class="btn btn-sm btn-danger" ng-click="confirmdelete(item)">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td ng-if="Vehiclelist.length>0"><button class="btn btn-sm btn-info" ng-click="exportData()">Export To Excel</button></td>
                                        <td colspan="5" class="text-center">
                                            <div st-items-by-page="30" st-pagination="" st-template="~/CustTemplates/Pagination.html"></div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div id="myModal" class="modal fade " role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" data-dismiss="modal" />
                        <ul class="nav nav-tabs">
                            <li ng-repeat="item in tablist" ng-click="viewtab($index)" class="active:''showtab==$index'">
                                <a data-toggle="tab">{{item }}</a>
                            </li>
                        </ul>
                    </div>
                    <div style="height:700px !important;overflow-y:auto">
                        <div ng-show="showtab=='0'">
                            <form name="Vehicleform" novalidate>

                                <div class="form-group col-lg-4">
                                    <label>Registration No</label>
                                    <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.VehicleNo.$valid" />
                                    <input autocomplete="off" @*ng-maxlength="15"*@ name="vehicleno" type="text" autocomplete="off" ng-required="true" class="form-control" placeholder="Registration No" ng-model="vehicleInfo.VehicleNo">
                                    @*<span class="fontred" ng-show="Vehicleform.vehicleno.$error.maxlength">
                                            Only 15 characters allowed !!
                                        </span>*@
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Manufacturer</label>
                                    <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.Manufacturer.$valid" />
                                    <input autocomplete="off" @*ng-maxlength="45"*@ name="manufacturer" type="text" autocomplete="off" class="form-control" placeholder="Manufacturer" ng-model="vehicleInfo.Manufacturer" ng-required="true">
                                    @*<span class="fontred" ng-show="Vehicleform.manufacturer.$error.maxlength">
                                            Only 45 characters allowed !!
                                        </span>*@
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Model No</label>
                                    <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.ModelNo.$valid" />
                                    <input autocomplete="off" @*ng-maxlength="45"*@ name="modelno" ng-required="true" type="text" autocomplete="off" class="form-control" placeholder="Model No" ng-model="vehicleInfo.ModelNo">
                                    @*<span class="fontred" ng-show="Vehicleform.modelno.$error.maxlength">
                                            Only 45 characters allowed !!
                                        </span>*@

                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Year of Manufacture</label>
                                    <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.YearOfManufacture.$valid" />
                                    <input autocomplete="off" @*ng-maxlength="4"*@ name="yearofmanufacture" ng-required="true" type="number" autocomplete="off" class="form-control" placeholder="Year of Manufacture" ng-model="vehicleInfo.YearOfManufacture">
                                    @*<span class="fontred" ng-show="Vehicleform.yearofmanufacture.$error.maxlength">
                                            Only 4 characters allowed !!
                                        </span>*@
                                    <span ng-show="Vehicleform.yearofmanufacture.$error.number">Not a number!</span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Vehicle Purchase Date </label>
                                    <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.VehiclePurchaseDate.$valid" />
                                    <input autocomplete="off" @*ng-maxlength="10"*@ name="vehiclepurchasedate" id="dtVehiclePurchaseDate" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" placeholder="Vehicle Purchase Date" autocomplete="off" ng-required="true" class="form-control" ng-model="vehicleInfo.VehiclePurchaseDate">
                                    @*<span class="fontred" ng-show="Vehicleform.vehiclepurchasedate.$error.maxlength">
                                            Only 10 characters allowed !!
                                        </span>*@
                                </div>
                                @*<div class="form-group col-lg-4">
                                        <label>Year of Purchase</label>
                                        <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.YearOfPurchase.$valid" />
                                        <input  autocomplete="off" ng-required="true" type="number" autocomplete="off" class="form-control" placeholder="Year of Purchase" ng-model="vehicleInfo.YearOfPurchase">
                                    </div>*@
                                <div class="form-group col-lg-4">
                                    <label>Is Having National Permit?</label>
                                    <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.IsHavingNationalPermit.$valid" />
                                    <select @*ng-maxlength="7"*@ name="ishavingnationalpermit" class="form-control" ng-init="vehicleInfo.IsHavingNationalPermit ='Yes'" ng-model="vehicleInfo.IsHavingNationalPermit">
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                    @*<span class="fontred" ng-show="Vehicleform.ishavingnationalpermit.$error.maxlength">
                                            Only 7 characters allowed !!
                                        </span>*@
                                </div>
                                <div class="form-group col-lg-4" ng-if="vehicleInfo.IsHavingNationalPermit=='Yes'">
                                    <label>National Permit No</label>
                                    <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.NationalPermitRegNo.$valid" />
                                    <input autocomplete="off" @*ng-maxlength="25"*@ name="nationalpermitregno" ng-required="true" type="text" autocomplete="off" class="form-control" placeholder="National Permit No" ng-model="vehicleInfo.NationalPermitRegNo">
                                    @*<span class="fontred" ng-show="Vehicleform.nationalpermitregno.$error.maxlength">
                                            Only 25 characters allowed !!
                                        </span>*@
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Trolley Chassis number</label>
                                    <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.VIN.$valid" />
                                    <input autocomplete="off" @*ng-maxlength="25"*@ name="vin" type="text" autocomplete="off" class="form-control" placeholder="Trolley Chassis number.." ng-model="vehicleInfo.VIN" ng-required="true">
                                    @*<span class="fontred" ng-show="Vehicleform.vin.$error.maxlength">
                                            Only 25 characters allowed !!
                                        </span>*@
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Engine Number</label>
                                    <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.EngineNumber.$valid" />
                                    <input autocomplete="off" @*ng-maxlength="15"*@ name="enginenumber" ng-required="true" type="text" autocomplete="off" class="form-control" placeholder="Engine Number" ng-model="vehicleInfo.EngineNumber">
                                    @*<span class="fontred" ng-show="Vehicleform.enginenumber.$error.maxlength">
                                            Only 15 characters allowed !!
                                        </span>*@
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Chassis Number</label>
                                    <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.ChassisNumber.$valid" />
                                    <input autocomplete="off" @*ng-maxlength="25"*@ name="chassisnumber" ng-required="true" type="text" autocomplete="off" class="form-control" placeholder="Chassis Number" ng-model="vehicleInfo.ChassisNumber">
                                    @*<span class="fontred" ng-show="Vehicleform.chassisnumber.$error.maxlength">
                                            Only 25 characters allowed !!
                                        </span>*@
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Passing MT (in Tons)</label>
                                    <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.PassingMT.$valid" />
                                    <input autocomplete="off" @*ng-maxlength="25"*@ name="passingmt" ng-required="true" type="number" autocomplete="off" class="form-control" placeholder="Passing MT" ng-model="vehicleInfo.PassingMT">
                                    @*<span class="fontred" ng-show="Vehicleform.passingmt.$error.maxlength">
                                            Only 25 characters allowed !!
                                        </span>*@
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Next Passing Date</label>
                                    <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.PassinDate.$valid" />
                                    <input autocomplete="off" @*ng-maxlength="15"*@ name="passindate" id="dtPassingDate" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" placeholder="Passing Date" autocomplete="off" ng-required="true" class="form-control" ng-model="vehicleInfo.PassingDate">
                                    @*<span class="fontred" ng-show="Vehicleform.passindate.$error.maxlength">
                                            Only 15 characters allowed !!
                                        </span>*@
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>PUC Due Date</label>
                                    <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.PUCDueDate.$valid" />
                                    <input autocomplete="off" @*ng-maxlength="15"*@ name="pucduedate" id="dtPUCDueDate" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" placeholder="PUC Date" autocomplete="off" ng-required="true" class="form-control" ng-model="vehicleInfo.PUCDueDate">
                                    @*<span class="fontred" ng-show="Vehicleform.pucduedate.$error.maxlength">
                                            Only 15 characters allowed !!
                                        </span>*@
                                </div>

                                <div class="form-group col-lg-4">
                                    <label>Empty Vehicle Average</label>
                                    <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.EmptyVehicleAverage.$valid" />
                                    <input autocomplete="off" @*ng-maxlength="7"*@ ng-required="true" type="number" autocomplete="off" class="form-control" placeholder="Empty Vehicle Average" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-model="vehicleInfo.EmptyVehicleAverage">
                                    @*<span class="fontred" ng-show="Vehicleform.pucduedate.$error.maxlength">
                                            Only 7 characters allowed !!
                                        </span>*@
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Loaded Vehicle Average</label>
                                    <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.LoadedVehicleAverage.$valid" />
                                    <input autocomplete="off" @*ng-maxlength="7"*@ name="loadedvehicleaverage" ng-required="true" type="number" autocomplete="off" class="form-control" placeholder="Loaded Vehicle Average" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-model="vehicleInfo.LoadedVehicleAverage">
                                    @*<span class="fontred" ng-show="Vehicleform.loadedvehicleaverage.$error.maxlength">
                                            Only 7  characters allowed !!
                                        </span>*@
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Next scheduled service</label>
                                    <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.ScheduledPMDate.$valid" />
                                    <input autocomplete="off" @*ng-maxlength="15"*@ name="scheduledpmdate" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" id="dtScheduledPMDate" placeholder="Next scheduled service " autocomplete="off" ng-required="true" class="form-control" ng-model="vehicleInfo.ScheduledPMDate">
                                    @*<span class="fontred" ng-show="Vehicleform.scheduledpmdate.$error.maxlength">
                                            Only 15 characters allowed !!
                                        </span>*@
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Trolley Manufacturer</label>
                                    <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.TrolleyManufacturer.$valid" />
                                    <input autocomplete="off" @*ng-maxlength="45"*@ name="trolleymanufacturer" ng-required="true" type="text" autocomplete="off" class="form-control TextUppercase " placeholder="Trolley Manufacturer" ng-model="vehicleInfo.TrolleyManufacturer">
                                    @*<span class="fontred" ng-show="Vehicleform.trolleymanufacturer.$error.maxlength">
                                            Only 45 characters allowed !!
                                        </span>*@
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Trolley Size</label>
                                    <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.TrollySize.$valid" />
                                    <select @*ng-maxlength="7"*@ name="trollysize" class="form-control" ng-model="vehicleInfo.TrollySize" ng-options="item for item in TrolleySizeArray"></select>
                                    @*<span class="fontred" ng-show="Vehicleform.trollysize.$error.maxlength">
                                            Only 7 characters allowed !!
                                        </span>*@
                                </div>
                                @*
                                    <div class="form-group col-lg-4">
                                        <label>Vehicle Present Location</label>
                                        <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.VehiclePresentLocation.$valid" />
                                        <input  autocomplete="off" name="vehiclepresentlocation" type="text" class="form-control" placeholder="Vehicle Present Location" ng-model="vehicleInfo.VehiclePresentLocation">
                                        <span class="fontred" ng-show="Vehicleform.vehiclepresentlocation.$error.maxlength">
                                            Only 45 characters allowed !!
                                        </span>
                                    </div>
                                    <div class="form-group col-lg-4">
                                             <label>Warrenty Date</label>
                                             <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.WarrantyDate.$valid" />
                                             <input  autocomplete="off" id="dtwarrantyDate" placeholder="Warranty Date" class="form-control" ng-model="vehicleInfo.WarrantyDate">
                                        </div>*@
                                <div class="form-group col-lg-4">
                                    <label>Is Hypothecated</label>
                                    <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.IsHypothecated.$valid" />
                                    <select @*ng-maxlength="7"*@ name="ishypothecated" class="form-control" ng-model="vehicleInfo.IsHypothecated" ng-required="true">
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                    @*<span class="fontred" ng-show="Vehicleform.ishypothecated.$error.maxlength">
                                            Only 7 characters allowed !!
                                        </span>*@
                                </div>
                                <div ng-show="vehicleInfo.IsHypothecated=='Yes'">
                                    <div class="form-group col-lg-4">
                                        <label>Hypothecation Bank Name</label>
                                        <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.HypothecatedBankName.$valid" />
                                        <input autocomplete="off" @*ng-maxlength="25"*@ name="hypothecatedbankname" ng-required="true" type="text" autocomplete="off" class="form-control" placeholder="Hypothecated Bank Name" ng-model="vehicleInfo.HypothecatedBankName">
                                        @*<span class="fontred" ng-show="Vehicleform.hypothecatedbankname.$error.maxlength">
                                                Only 25 characters allowed !!
                                            </span>*@
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label>Loan Amount</label>
                                        <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.LoanAmount.$valid" />
                                        <input autocomplete="off" @*ng-maxlength="8"*@ name="loanamount" ng-required="true" type="number" class="form-control" placeholder="Loan Amount" ng-model="vehicleInfo.LoanAmount">
                                        @*<span class="fontred" ng-show="Vehicleform.loanamount.$error.maxlength">
                                                Only 8 characters allowed !!
                                            </span>*@
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label>Interest Rate (%)</label>
                                        <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.InterestRate.$valid" />
                                        <input autocomplete="off" @*ng-maxlength="8"*@ name="interestrate" ng-required="true" type="number" step="any" min="0" max="100" class="form-control" placeholder="Interest Rate" ng-model="vehicleInfo.InterestRate">
                                        @*<span class="fontred" ng-show="Vehicleform.interestrate.$error.maxlength">
                                                Only 8 characters allowed !!
                                            </span>*@
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label>Is ECS?</label>
                                        <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.IsECS.$valid" />
                                        <select @*ng-maxlength="8"*@ name="isecs" class="form-control" ng-model="vehicleInfo.IsECS" ng-required="true">
                                            <option>Yes</option>
                                            <option>No</option>
                                        </select>
                                        @*<span class="fontred" ng-show="Vehicleform.isecs.$error.maxlength">
                                                Only 8 characters allowed !!
                                            </span>*@
                                    </div>
                                    <div ng-show="vehicleInfo.IsECS=='Yes'">
                                        <div class="form-group col-lg-4">
                                            <label>ECS Bank Acc No</label>
                                            <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.ECSBankAccNo.$valid" />
                                            <input autocomplete="off" @*ng-maxlength="25"*@ name="ecsbankaccno" ng-required="true" type="number" class="form-control" placeholder="ECS Bank Account No" ng-model="vehicleInfo.ECSBankAccNo">
                                            @*<span class="fontred" ng-show="Vehicleform.ecsbankaccno.$error.maxlength">
                                                    Only 25 characters allowed !!
                                                </span>*@
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>Repay Period (in Months)</label>
                                            <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.RepayPeriod.$valid" />
                                            <input autocomplete="off" @*ng-maxlength="10"*@ name="repayperiod" ng-required="true" type="number" class="form-control" placeholder="Repay Period" ng-model="vehicleInfo.RepayPeriod">
                                            @*<span class="fontred" ng-show="Vehicleform.repayperiod.$error.maxlength">
                                                    Only 10 characters allowed !!
                                                </span>*@
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>Monthly EMI Due Date</label>
                                            <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.MonthlyEMIDueDate.$valid" />
                                            <select name="monthlyemiduedate" class="form-control" ng-model="vehicleInfo.MonthlyEMIDueDate" ng-options="item for item in MonthlyEMIDueDateArray"></select>
                                            @*<span class="fontred" ng-show="Vehicleform.monthlyemiduedate.$error.maxlength">
                                                    Only 7 characters allowed !!
                                                </span>*@
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>Loan Cleared</label>
                                            <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.IsLoanCleared.$valid" />
                                            <select @*ng-maxlength="5"*@ name="isloancleared" class="form-control" style="font-weight:bold" ng-model="vehicleInfo.IsLoanCleared" ng-options="item for item in IsLoanClearedArray"></select>
                                            @*<select ng-required="true" class="form-control" ng-change="Showdatepicker()" ng-model="vehicleInfo.IsLoanCleared">
                                                    <option >Yes</option>
                                                    <option style="font-weight: bold">No</option>
                                                </select>*@
                                            @*<span class="fontred" ng-show="Vehicleform.isloancleared.$error.maxlength">
                                                    Only 5 characters allowed !!
                                                </span>*@
                                        </div>

                                        <div class="form-group col-lg-4" ng-show="vehicleInfo.IsLoanCleared=='Yes'">
                                            <label>Loan Cleared Date</label>
                                            <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.LoanClearedDate.$valid" />
                                            <input autocomplete="off" name="dtLoanClearedDate" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" placeholder="Loan Cleared Date" autocomplete="off" ng-required="vehicleInfo.IsLoanCleared=='Yes'" class="form-control" ng-model="vehicleInfo.LoanClearedDate" id="dtLoanClearedDate">
                                            @*<span class="fontred" ng-show="Vehicleform.loancleareddate.$error.maxlength">
                                                    Only 15 characters allowed !!
                                                </span>*@
                                        </div>

                                    </div>

                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Remarks</label>
                                    <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.Remarks.$valid" />
                                    <input autocomplete="off" @*ng-maxlength="15"*@ name="remarks" ng-required="true" type="text" class="form-control" placeholder="Remarks" ng-model="vehicleInfo.Remarks">
                                    @*<span class="fontred" ng-show="Vehicleform.remarks.$error.maxlength">
                                            Only 15 characters allowed !!
                                        </span>*@
                                </div>

                                <div class="form-group col-lg-4">
                                    <label>Road Tax Due Date</label>
                                    <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.RoadTaxDueDate.$valid" />
                                    <input autocomplete="off" @*ng-maxlength="15"*@ name="roadtaxduedate" id="dtroadtaxduedate" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" placeholder="Road tax Date" autocomplete="off" ng-required="true" class="form-control" ng-model="vehicleInfo.RoadTaxDueDate">
                                    @*<span class="fontred" ng-show="Vehicleform.roadtaxduedate.$error.maxlength">
                                            Only 15 characters allowed !!
                                        </span>*@
                                </div>

                                <div class="form-group col-lg-4">
                                    <label>Insurance Expiry Date</label>
                                    <img src="~/Content/img/reqIcon.png" ng-if="!vehicleInfo.InsuranceExpDate.$valid" />
                                    <input autocomplete="off" @*ng-maxlength="15"*@ name="Insduedate" id="dtInsduedate" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" placeholder="Insurance Due Date" autocomplete="off" ng-required="true" class="form-control" ng-model="vehicleInfo.InsuranceExpDate">
                                    @*<span class="fontred" ng-show="Vehicleform.Insduedate.$error.maxlength">
                                            Only 15 characters allowed !!
                                        </span>*@
                                </div>
                                <div class="modal-footer">
                                    <div class="col-lg-12">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-warning" ng-click="save(Vehicleform.$valid)">Save changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    
               
                    
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</div>



